body {
    background: linear-gradient(-45deg, #ff0000, #e30000, #000000, #2a9beb, #ffffff);
    background-size: 200vh 100%;
    animation: gradient 20s ease infinite;
    margin: 0 5% 0 5%;
    overflow: auto;
}

.background-container{
    position: fixed;
    top: 40%;
    left:0;
    bottom: 0;
    right: 10%;
    height: 80%;
    width: 90%;
}

.mainTitle {
    font-size: 1.5em;
    text-align: center;
    padding-top: 5%;
}

#start-button, #end-button {
    width: 100%;
    padding: 0;
    height: 4em;
    margin-top: 2em;
    text-transform: uppercase;
    color: white;
    background-color: #21bb44;
    font-weight: 700;
    border: double;
}

#end-button {
    background-color: #084298;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#caseId {
    height: 25vh
}

.mainTitle {
    color: white;
}

.bloc {
    padding-top: 1em;
}

.date-label {
    background-color: #2b2b2b;
    color: white;
    border: solid white;
    /*border-radius: 25px;*/
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}
.case-context {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 5% 0% 5% 0%;
    margin-top: 1em;
}

.case-role {
    margin-top: 10%;
    background-color: white;
    text-align: center;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.list-group {
    --bs-list-group-active-bg: #2b2b2b;
    border-color: white;
}

list-group-item {
    text-align: center;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#collapse {
    background-size: cover;
    width: 100%;
    height: 60px;
    transition: all 0.5s;
}

#collapse.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.fiche {
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.5); /* Black w/opacity/see-through */
    font-size: 1.2em;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5%;
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: right;
    transition: transform 1s;
}
.fiche.criminal{
    background: radial-gradient(#bb2d3b 10px, hsla(0,0%,100%,.5) 50%)
}
.fiche.flip {
    transform: translateX(-100%) rotateY(-180deg);
    font-size: 1.2em;
    border-radius: 20px;
    box-sizing: border-box;
}

.front {
    backface-visibility: hidden;
    transform: rotateX(0deg);
    position: absolute;
    margin-right: 5%;
}

.back {
    position: relative;
    transform: rotateY(180deg) rotateX(0deg);
    backface-visibility: hidden;
}

img{
    width: 100%;
    height: 100%;
    padding-top: 50%;
}

.flip-label {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

.suspects-bloc {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 5%;
    text-align: center;
    background-color: #f1f1f1;
    list-style-type: none;
}

.suspects-scroll {
    height: 50vh;
    overflow-y: scroll;
    padding-inline-start: 0px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
/*    background-color: black;
    border: solid white;*/
}
.suspects-role {
    background-color: lightgrey;
}

.form-control {
    display: block;
    width: 97%;
    height: 2em;
    padding: 0 0 0 .5rem;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s
}

.divider{
    width: 90%;
    height: .5em;
    border-bottom: 1px solid black;
    position: absolute;
}

.form-select {
    display: block;
    width: 100%;
    padding-left: 0.5em;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}

.case-words {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin: 5%;
    text-align: center;
    list-style-type: none;
}

.list-group-item .active {
    font-weight: 600;
}

.list-group-interrogatoire{
    font-size: 2em;
    position: absolute;
}