body {
    background: linear-gradient(-45deg, #ff0000, #521313, #23a6d5, #23d5ab);
    background-size: 200vh 200vw;
    animation: gradient 20s ease infinite;
    margin: 0 5% 0 5%;
    height: 100vh;
}

.mainTitle {
    font-size: 1.5em;
    text-align: center;
}

#start-button, #end-button {
    margin-top: 2em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mainTitle {
    color: white;
}

.container {
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255, 0.5); /* Black w/opacity/see-through */
    font-size: 1.2em;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    padding: 5%;
}

#start-button, #end-button{
    width: 100%;
    padding-top: 1em;
}

.bloc {
    padding-top: 1em;
}

.date-label {
    background-color: gray;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}

.toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

#collapse {
    background-size: cover;
    width: 100%;
    height: 60px;
    transition: all 0.5s;
}

#collapse.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    backface-visibility: hidden;
}

.card.flip {
    transform: translateX(-100%) rotateY(-180deg);
}

.front {
    backface-visibility: hidden;
    position: absolute;
    margin-right: 5%;
}

.back {
    background: slateblue;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
